.vc-cards {
  .card.activateOverlay {
    border-radius: 40px;

    .card-content {
      border-radius: 40px;

      .card-body {
        top: calc(100% - 100px);
        transition: top 0.4s ease-in-out;
        height: 100%;

        .wp-block-group {
          opacity: 0;
          transition: opacity 0.4s ease-in-out;
        }
      }

      .has-dark-background-color {
        transition: all 0.4s ease-in-out;
      }
    }

    &:hover {
      .card-content {
        .card-body {
          top: 0;

          .wp-block-group {
            opacity: 1;
          }
        }

        .has-dark-background-color {
          background-color: $primary;
          --overlayDimRatio: 0.8 !important;
        }
      }
    }
  }
}

.icon-cards {
  > .row > .col {
    margin-bottom: 2rem;
  }

  .card {
    box-shadow: 0 5px 6px #00000029;
    border: 0;
    text-align: center;
    height: 100%;
    border-radius: 19px;
    min-height: 155px;
    align-items: center;
    justify-content: center;
    transition: $transition;

    p {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $primary;

      i {
        transition: $transition;
      }

      i, p {

        color: #fff;
      }
    }
  }


  .card-content {
    flex-grow: 0;
  }

  i {
    color: $primary;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

//used on resources pages
.resources-cards {
  .card {
    border: 0;
  }

  .card-body {
    padding: 1.5rem 0 0 0;

    h4 {
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
    }
  }

  .wp-block-vc-blocks-card {
    margin-bottom: 1rem;
  }

  @media (min-width: 992px) {
    .row {
      --bs-gutter-x: 4rem;
    }
  }

}

//used on team page
.team-cards {
  .card.activateOverlay {
    border-radius: 40px;
  }
}
