/*.post-thumbnail,
.entry-content .wp-audio-shortcode,
.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
*[class*=inner-container] > *:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
.default-max-width {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}*/


.site-content .entry-content > :not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide),
.wp-block-cover .wp-block-cover__inner-container //to be used for cover block content so their content is contained within container
{
  max-width: 1320px;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
 /* padding-left: 1rem;
  padding-right: 1rem; //used for space around elements for tablets and mobile*/
}

.wp-block-cover {
  padding-left: 0;
  padding-right: 0;
}




