.cta {
  h2 {
    @extend .h3;
    font-family: $font-family-base;
    padding-bottom: 0;
    margin-bottom: 20px;

    &:before {
      display: none;
    }
  }
}
@media (min-width: 768px) {
  .cta {
    h2 {
      margin-bottom: 0;
    }
  }
}