h2 {
  padding-bottom: 10px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    margin-top: 10px;
    width: 43px;
    border: 2px solid $secondary;
  }

}

h2.has-text-align-center {
  &:before {
    left: 0 !important;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}