.post-navigation {
  margin: 30px 0;
  .nav-links {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
      padding: 0 10px;
      i {
        font-size: 2em;
        vertical-align: middle;
        padding:  10px;
      }
    }
  }
}