.wp-block-group.has-background.testimonial-section {
  padding-top: 0;
  padding-bottom: 0;

  h2, h3, h4, h5, h6 {
    font-family: $font-family-base;
  }

  .testimonial-section__content {
    position: relative;

    &:before, &:after {
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      font-size: 10em;
      position: absolute;
      color: rgba(255,255,255, 0.2);
    }

    &:before {
      content: "\f10d";
      left: -1rem;
      top: -8px;
    }

    &:after {
      content: "\f10e";
      right: 0;
      bottom: 0;
    }
  }
}

@include media-breakpoint-down(lg) {
  .wp-block-group.has-background.testimonial-section {
    .wp-block-column {
      flex-basis: 100% !important;
    }
  }
}

@include media-breakpoint-up(md) {
  .wp-block-group.has-background.testimonial-section {
    padding: 0;

    .wp-block-image {
      margin-bottom: 0;
    }

    .wp-block-columns {
      .wp-block-column:last-child {
        padding: 2rem;
        max-width: 950px;
        margin: auto;
      }
    }
  }

}
