.navbar.main-navbar {
  background-color: $header-bg-color;

  &.scrolled {
    background-color: $header-bg-color-scrolled;
  }
}

.home {
  .navbar.main-navbar {
    background-color: $header-bg-color-home;

    .site-logo img {
      display: none;
    }

    img.site-logo__white {
      display: block;
    }

    &.scrolled {
      background-color: $header-bg-color-home-scrolled;

      .site-logo img {
        display: block;
      }

      img.site-logo__white {
        display: none;
      }
    }
  }
}

.offcanvas-end {
  width: 320px;
}

.offcanvas.show {
  transform: translateX(0);
}

@include media-breakpoint-down(lg) {
  .home {
    .navbar.main-navbar {
      .site-logo img {
        display: block;
      }
      img.site-logo__white {
        display: none;
      }
    }
  }
}